* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global  Styles */

    .hover-orange:hover {
        color: #F26D00;
        cursor: pointer;
    }

/*  */

.navbar {
    margin-left: 7rem;
}

.nav-item:hover span {
    color: #F26D00;
    cursor: pointer;
}

.nav-item .fa {
    color: silver;
}

.section {
    margin-top: 1rem;
    margin-left: 7rem !important;
}

.section a {
    color: black;
    text-decoration: none;
}

.section a:nth-child(1):hover {
    text-decoration: underline;
}

.section__logo {
    height: 125% !important;
}

.section__text {
    position: absolute;
    font-size: 20px;
    color: white;
    margin: -32px 0 0 9rem;
}

.card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-top: 2rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 5px;
}

.form-group {
    margin-bottom: 1rem;
}